---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<script is:inline>
		const isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent);
		const isIOSBrowser = /CriOS|EdgiOS/.test(navigator.userAgent);

		// Handle browser back/forward
		window.addEventListener("popstate", () => {
			window.location = window.location.href;
		});

		document.addEventListener("click", (e) => {
			if (!isIOS || !isIOSBrowser) {
				return;
			}

			const target = e.target;
			const link = target.closest("a");
			if (!link) return;

			const shouldPushState =
				link &&
				link.href &&
				link.href.startsWith(window.location.origin) &&
				!link.href.includes("#");
			if (!shouldPushState) return;
			history.pushState(null, "", link.href);
			window.dispatchEvent(new PopStateEvent("popstate"));
		});
	</script>
	<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	<body
		class="mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-4 pt-6 font-mono text-sm font-normal text-textColor antialiased sm:px-8"
	>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
